<ld-jumbotron-section title='about us' [transparent]="false">

  <div class="row">
    <div class="col-lg-6">
      <img src="/assets/images/rocket.jpg" class="rounded mx-auto d-block" alt="launch date">
    </div>
    <div class="col-lg-6">
      <h3>LIBERATION DATA OFFICIALLY LAUNCHED ON NOVEMBER 26TH, 2018</h3>
      <p>That makes us about a day old. Go us!</p>
      <p>Stay tuned - during the week, we'll be launching our blog, followed by with a software product. And we’ll
        slotting that in around client work, which is taking place ahead of our first on-site Neo4j training course in
        Melbourne. Sounds busy? It sure is, but hey, it never feels like work when you’re doing what you love, right?</p>
    </div>
  </div>
</ld-jumbotron-section>

<ld-jumbotron-section title='our staff' [transparent]="true">
  <div class="row">
    <div class="col-lg-3">
      <img src="/assets/images/jasper.jpg" class="rounded mx-auto d-block" alt="founder">
      <h4>JASPER BLUES</h4>
      <p class="text-muted">Founder and President</p>
    </div>
    <div class="col-lg-3">
      <img src="/assets/images/staffing.png" class="rounded mx-auto d-block" alt="staff">
      <h4>TBC</h4>
      <p class="text-muted">We are hiring</p>
    </div>
    <div class="col-lg-3">
      <img src="/assets/images/staffing.png" class="rounded mx-auto d-block" alt="staff">
      <h4>TBC</h4>
      <p class="text-muted">We are hiring</p>
    </div>
    <div class="col-lg-3">
      <img src="/assets/images/staffing.png" class="rounded mx-auto d-block" alt="staff">
      <h4>TBC</h4>
      <p class="text-muted">We are hiring</p>
    </div>
  </div>

</ld-jumbotron-section>

<ld-jumbotron-section title='testimonials' [transparent]="true">
  <div class="row">
      <div class="col-lg-4">
          <blockquote class="blockquote">
              <p class="mb-0">Thanks so much for such a great update. I think this summarises the progress and situation very well. Also, I want you to know that I'm really happy with the progress you've made so far.</p>
              <footer class="blockquote-footer">James Vulling, General Manager, Codeware <cite title="Source Title">https://www.codeware.com.au</cite></footer>
            </blockquote>
      </div>
      <div class="col-lg-4">
          <blockquote class="blockquote">
              <p class="mb-0">Response from the matching algorithm is almost instantaneous. I can't wait to launch this!</p>
              <footer class="blockquote-footer">Josh Simons, CEO Vampr <cite title="Source Title">http://vampr.me</cite></footer>
            </blockquote>
      </div>
      <div class="col-lg-4">
          <blockquote class="blockquote">
              <p class="mb-0">Thanks for helping out with Codeware’s project, and Jimmy is certainly singing your praises.</p>
              <footer class="blockquote-footer">BEN BEATH, MANAGING DIRECTOR, LOUD & CLEAR <cite title="Source Title">https://loudclear.com.au</cite></footer>
            </blockquote>
      </div>
  </div>
</ld-jumbotron-section>
