<footer class="my-5 pt-5 text-muted text-center text-small">
  <p class="txt_priv wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">Liberation Data
    (c) <span id="copyright-year">2018</span> | <a href="privacy.html">Privacy Policy</a><br>
    <!--{%FOOTER_LINK} -->
  </p>
  <div class="container">
    <div class="text-center center-block">
      <a href="https://www.linkedin.com/company/liberation-data"><i id="social-linkedin" class="fa fa-linkedin-square fa-2x social"></i></a>
      <a href="https://twitter.com/liberation_data"><i id="social-tw" class="fa fa-twitter-square fa-2x social"></i></a>
      <a href="http://github.com/liberation-data"><i id="social-github" class="fa fa-github-square fa-2x social"></i></a>
    </div>
    <hr>
  </div>
</footer>
