<div class="container">
    <header class="blog-header py-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-12 text-center">
          <img alt="Liberation Data Logo" src="/assets/images/hawk@84.png">
          <h1 class="blog-header-logo text-dark">{{ title | uppercase }}</h1>
          <hr class="hr-text" data-content="">
        </div>
      </div>
    </header>
    <nav class="navbar navbar-expand-lg navbar-light ">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/blog" routerLinkActive="active">Blog</a>
            </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/contact" routerLinkActive="active">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
<router-outlet></router-outlet>
<ld-footer></ld-footer>
