<div class="container-fluid box-1">
</div>

<ld-jumbotron-section title='let your data tell its story' [transparent]="true">
  <p class="text-muted">Liberation Data, an Australian incorporated and globally expanding company, is a team of
    data scientists, architects and engineers skilled in the practical applications of network science. We can help
    you to to extract insight from and form business processes around <strong class="red">graph-shaped data.</strong></p>
  <div class="row">
    <div class="col-lg-4">
      <img class="rounded " src="/assets/images/icon-consulting.png" alt="Generic placeholder image">
      <h3>CONSULTING</h3>
      <p class="text-muted">We partner with firms at all stages of the development cycle to ensure that their data
        strategy is aligned
        with product vision.</p>
      <p class="text-muted">You’re in good hands. We have guided startups from inception through to successful
        acquisition and beyond.
        During the course we have overseen successful data modelling, ingestion, performance tuning, production
        configuration and technical troubleshooting and many other challenges.</p>
      <p><a class="btn btn-outline-secondary" href="#" role="button">MORE &raquo;</a></p>
    </div>

    <div class="col-lg-4">
      <img class="rounded " src="/assets/images/training.png" alt="Generic placeholder image">
      <h3>TRAINING</h3>
      <p class="text-muted">We firmly believe that training should be not only informative, but also also fun, social
        and entertaining.</p>
      <p class="text-muted">We deliver on-site as well as scheduled public training courses around the world. Our
        trainers are industry
        veterans and experts in their fields, not to mention genuinely fun and caring people. This makes customizing
        courseware to meet specific needs of attendees on the day a snap for them.</p>
      <p><a class="btn btn-outline-secondary" href="#" role="button">MORE &raquo;</a></p>
    </div>

    <div class="col-lg-4">
      <img class="rounded " src="/assets/images/icon-development.png" alt="Generic placeholder image">
      <h3>DEVELOPMENT</h3>
      <p class="text-muted">We know we are fortunate to do work that we're passionate about. Therefore, we give back
        by
        performing
        software development on behalf of the open-source graph database and network science communities.</p>
      <p class="text-muted">Our founder is an open-source and startup veteran who has successfully launched products
        that have are
        employed by thousands of developers, and included in products that are used by millions.</p>
      <p><a class="btn btn-outline-secondary" href="#" role="button">MORE &raquo;</a></p>
    </div>
  </div>
</ld-jumbotron-section>


<ld-jumbotron-section title='specializations' [transparent]="false">
  <p class=" text-muted">We partner with and <strong class="red">invest</strong> in companies who believe, like us,
    that transmuted data can enrich, uplift and liberate the lives of our peers. Our staff have played instrumental
    roles in projects that successfully executed upon the following use-cases:</p>
  <div class="row">
    <div class="col-lg-4">
      <img class="rounded " src="/assets/images/network2.jpg" alt="social networks">
      <p>SOCIAL NETWORKS</p>
    </div>

    <div class="col-lg-4">
      <img class="rounded " src="/assets/images/fraud.jpg" alt="fraud detection">
      <p>FRAUD DETECTION</p>
    </div>

    <div class="col-lg-4">
      <img class="rounded " src="/assets/images/consumer2.jpg" alt="consumer affairs">
      <p>CONSUMER AFFAIRS</p>
    </div>


    <div class="col-lg-4">
      <img class="rounded " src="/assets/images/journalism.jpg" alt="data journalism">
      <p>DATA JOURNALISM</p>
    </div>

    <div class="col-lg-4">
      <img class="rounded " src="/assets/images/recommendation.jpg" alt="recommendation engines">
      <p>RECOMENDATION ENGINES</p>
    </div>

    <div class="col-lg-4">
      <img class="rounded " src="/assets/images/security.jpg" alt="cybersecurity">
      <p>CYBERSECURITY</p>
    </div>
  </div>
</ld-jumbotron-section>

<ld-jumbotron-section title='why choose liberation data?' [transparent]="true">
  <p class=" text-muted">The reasons are many, but it starts with passion. We have a proven <strong class="red">track
      record</strong> in successfully utlizing <strong class="red">Neo4j</strong>, the world's leading graph database
    in award-winning products.</p>
</ld-jumbotron-section>

<ld-jumbotron-section title='get in touch' [transparent]="false">
  <p class=" text-muted">We'd love to hear from you! Feel free to reach out on any of the channels below.</p>
  <div class="row">
    <div class="col-lg-4">
      <img class="rounded " src="/assets/images/page1_icon4.png" alt="Generic placeholder image">
      <p>info@liberation-data.com</p>
    </div>
    <div class="col-lg-4">
      <img class="rounded " src="/assets/images/page1_icon5.png" alt="Generic placeholder image">
      <p>801 Glenferrie Road Hawthorn, VIC</p>
    </div>
    <div class="col-lg-4">
      <img class="rounded " src="/assets/images/page1_icon6.png" alt="Generic placeholder image">
      <p>+61 3 9028 7328</p>
    </div>
  </div>
  <ld-contact-form></ld-contact-form>
</ld-jumbotron-section>
