.box-1 {
  width: 100%;
  height: 510px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/assets/images/lib2theworld.jpg');
}

.red {
  color: red;
}